body {
  text-align: center;
  background-image: url(https://images5.alphacoders.com/432/432931.jpg);
  background-size: contain;
}
img {
  width: 300px;
  height: 400px;
}

h2 {
  text-decoration: underline;
}

.DC {
  color: red;
}

.Marvel {
  color: blue;
}
